# Ignore virtual environment
env/
.env

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore FAISS index and metadata files
vector_index.faiss
metadata.json

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VS Code settings
.vscode/